@import '../../styleguide/color-palette.scss';

.icon-container {
  height: 20px;
  width: 20px;

  &.color-white {
    color: $white;
  }

  &.color-dark {
    color: $gray-700;
  }

  &.color-grey {
    color: $gray-500;
  }

  &.color-light-grey {
    color: $gray-300;
  }

  &.color-primary {
    color: $primary-600;
  }

  &.color-disabled {
    color: $gray-200;
  }

  &.color-success {
    color: $success-600;
  }

  &.color-warning {
    color: $warning-600;
  }

  &.color-error {
    color: $error-600;
  }

  &[data-type="fill"] {
    &.color-white {
      fill: $white;
    }

    &.color-dark {
      fill: $gray-700;
    }

    &.color-grey {
      fill: $gray-500;
    }

    &.color-light-grey {
      fill: $gray-300;
    }

    &.color-primary {
      fill: $primary-600;
    }

    &.color-disabled {
      fill: $gray-200;
    }

    &.color-success {
      fill: $success-600;
    }

    &.color-warning {
      fill: $warning-600;
    }

    &.color-error {
      fill: $error-600;
    }
  }

  &:focus {
    outline: none;
  }
}
