$color-white: var(--white);
$color-dark: var(--gray-700);
$color-grey: var(--gray-500);
$color-light-grey: var(--gray-300);
$color-primary: var(--primary-600);
$color-disabled: var(--gray-200);
$color-warning: var(--warning-600);
$color-success: var(--success-600);
$color-error: var(--error-600);

.icon-container {
  height: 20px;
  width: 20px;

  &.color-white {
    color: $color-white;
  }

  &.color-dark {
    color: $color-dark;
  }

  &.color-grey {
    color: $color-grey;
  }

  &.color-light-grey {
    color: $color-light-grey;
  }

  &.color-primary {
    color: $color-primary;
  }

  &.color-disabled {
    color: $color-disabled;
  }

  &.color-success {
    color: $color-success;
  }

  &.color-warning {
    color: $color-warning;
  }

  &.color-error {
    color: $color-error;
  }

  &[data-type="fill"] {
    &.color-white {
      fill: $color-white;
    }

    &.color-dark {
      fill: $color-dark;
    }

    &.color-grey {
      fill: $color-grey;
    }

    &.color-light-grey {
      fill: $color-light-grey;
    }

    &.color-primary {
      fill: $color-primary;
    }

    &.color-disabled {
      fill: $color-disabled;
    }

    &.color-success {
      fill: $color-success;
    }

    &.color-warning {
      fill: $color-warning;
    }

    &.color-error {
      fill: $color-error;
    }
  }

  &:focus {
    outline: none;
  }
}
