@import '../../styleguide/font-size.scss';
@import '../../styleguide/color-palette.scss';

.dashboard-page {
  width: 100%;
  height: 100%;
  display: flex;

    .page-content {
      display: flex;
      align-items: center;
      justify-content: center;
      flex: 1;
    }
}